anytree==2.8.0
apparmor==3.1.2
appdirs==1.4.4
application-utility==1.3.2
asciidoc==10.2.0
asgiref==3.5.2
asn1crypto==1.5.1
attrs==22.1.0
autocommand==2.2.2
Automat==22.10.0
Beaker==1.11.0
black==22.10.0
btrfsutil==6.0.2
CacheControl==0.12.11
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2022.9.24
cffi==1.15.1
chardet==5.1.0
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
constantly==15.1.0
contextlib2==21.6.0
cryptography==38.0.4
cupshelpers==1.0
Cython==0.29.32
distlib==0.3.6
distro==1.8.0
Django==3.0
dnspython==2.2.1
docopt==0.6.2
docutils==0.19
entrypoints==0.3
flake8==3.7.0
Flask==1.1.2
future==0.18.2
GeoIP==1.3.2
html5lib==1.1
hyperlink==21.0.0
idna==3.4
importlib-metadata==5.0.0
incremental==22.10.0
inflect==6.0.2
iniconfig==1.1.1
itsdangerous==1.1.0
Jade-Application-Kit==3.5.7
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
Jinja2==2.11.2
keyutils==0.6
LibAppArmor==3.1.2
libtorrent==2.0.8
lit==14.0.6.dev0
lockfile==0.12.2
louis==3.23.0
lxml==4.9.1
Mako==1.2.4
mallard-ducktype==1.0.2
manjaro-sdk==0.1
Markdown==3.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==9.0.0
msgpack==1.0.4
mypy-extensions==0.4.3
netsnmp-python==1.0a1
nftables==0.1
npyscreen==4.10.5
nspektr==0.4.0
ordered-set==4.1.0
packaging==21.3
pacman-mirrors==4.23.2
pathspec==0.10.1
pep517==0.13.0
Pillow==9.3.0
platformdirs==2.5.4
pluggy==1.0.0
ply==3.11
progress==1.6
pwquality==1.4.5
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycodestyle==2.5.0
pycparser==2.21
pycups==2.0.1
pycurl==7.45.1
pydantic==1.10.2
pyflakes==2.1.1
Pygments==2.13.0
PyGObject==3.42.2
PyHamcrest==2.0.4
pyOpenSSL==22.1.0
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
PySide2==5.15.7
PySide6==6.4.1
pysmbc==1.0.23
pytest==7.1.3
pytest-django==3.9.0
pytoml==0.1.21
pytz==2022.2.1
pyxdg==0.28
PyYAML==6.0
QTermWidget==1.2.0
rados==2.0.0
rbd==2.0.0
rencode==1.0.6
reportlab==3.6.12
requests==2.28.1
resolvelib==0.9.0
retrying==1.3.3
rgw==2.0.0
rich==12.6.0
service-identity==21.1.0
setproctitle==1.3.1
shiboken2==5.15.7
shiboken6==6.4.1
sip==4.19.25
six==1.16.0
smbus==1.1
sqlparse==0.4.2
systemd-python==235
team==1.0
tenacity==8.1.0
TLPUI==1.5.0
toml==0.10.2
tomli==2.0.1
trove-classifiers==2022.12.1
Twisted==22.10.0
typing_extensions==4.4.0
udiskie==2.4.2
urllib3==1.26.12
validate-pyproject==0.10.1
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.11.0
zope.interface==5.5.0
